# deps
node_modules/
.pnp.*
# builds
.next/
out/
dist/
coverage/
# env
.env*
!.env.example
# logs
npm-debug.log*
yarn-*.log*
pnpm-debug.log*
# os/editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
# turborepo
.turbo/
# vercel
.vercel/
